.action{
    display: flex;
    flex-direction: column;
}
.action a{
    color: blue;
}
.action a:hover{
    cursor: pointer;
    color: brown;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
  }
  .modal-show{
    display: block;
  }
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
  }
  .close{
    background-color: white;
    padding: 1rem;
    color: red;
  }
  .close:hover{
    cursor: pointer;
  }
  